<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Jobby - Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}

<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	{% include 'sidebar.html' %}
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>{{ current_user.get_full_name() }}</h3>
				<span>We are glad to see you again!</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Home</a></li>
						<li>Dashboard</li>
					</ul>
				</nav>
			</div>

			<!-- Fun Facts Container -->
			<div class="fun-facts-container">
				{% if current_user.status == 'employer' %}
					<div class="fun-fact" data-fun-fact-color="#b81b7f">
						<div class="fun-fact-text">
							<span>Total Job Posted</span>
							<h4>{{ tasks|length }}</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
					</div>
					<div class="fun-fact" data-fun-fact-color="#2a41e6">
						<div class="fun-fact-text">
							<span>Total Job Views</span>
							<h4>{{ total_views }}</h4>
						</div>
						<div class="fun-fact-icon" style="background-color: rgba(42, 65, 230, 0.07);"><i class="icon-feather-trending-up" style="color: rgb(42, 65, 230);"></i></div>
					</div>
				{% endif %}
				<div></div>
			</div>

			<!-- Row -->
			<div class="row">
				<div class="col-xl-12">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-outline-assignment"></i> Projects</h3>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">
								{% for message in get_flashed_messages() %}
									<div class="notification notice closeable">
										<p>{{ message }}</p>
										<a class="close" href="#"></a>
									</div>
								{% endfor %}
								{% for task in tasks %}
									<li>
										<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
										<span class="notification-text">
											<strong>{{ task }} </strong>
										</span>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<button class="button gray viewButton" data="{{task.id}}" data-tippy-placement="top" data-tippy-theme="light">Views</button>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>

			{% if current_user.status == 'employer' %}
				<div class="row" style="display: none;" id="chartTable">
					<div class="col-xl-12">
						<!-- Dashboard Box -->
						<div class="dashboard-box main-box-in-row">
							<div class="headline">
								<h3 id="project_name"><i class="icon-feather-bar-chart-2"></i></h3>
								<div class="sort-by">
									<select class="selectpicker hide-tick">
										<option>This Week</option>
									</select>
								</div>
							</div>
							<div class="content">
								<!-- Chart -->
								<div class="chart">
									<canvas id="chart" width="100" height="45"></canvas>
								</div>
							</div>
						</div>
						<!-- Dashboard Box / End -->
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-xl-12">
						<!-- Dashboard Box -->
						<div class="dashboard-box main-box-in-row">
							<div class="headline">
								<h3><i class="icon-feather-bar-chart-2"></i> Profile Views</h3>
								<div class="sort-by">
									<select class="selectpicker hide-tick">
										<option>Last Week</option>
									</select>
								</div>
							</div>
							<div class="content">
								<!-- Chart -->
								<div class="chart">
									<canvas id="chart" width="100" height="45"></canvas>
								</div>
							</div>
						</div>
						<!-- Dashboard Box / End -->
					</div>
				</div>
			{% endif %}
			<!-- Row -->
			<div class="row">
				<div class="col-xl-12">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-baseline-notifications-none"></i> Notifications</h3>
							<button class="mark-as-read ripple-effect-red deleteNotif" data="all" data-tippy-placement="left" title="Delete all">
									<i class="icon-material-outline-delete"></i>
							</button>
						</div>
						<div class="content">
							<ul class="dashboard-box-list" id="notifList">
								{% for nt in current_user.all_notifications() %}
									{% if nt.not_type == 1 %}
									<li id="{{nt.id}}">
										<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
										<span class="notification-text">
											<strong>{{ nt.notification_from }} </strong> has bidded for <a href="#">{{ nt.notedTask }}.</a>
										</span>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<button class="button red deleteNotif" data="{{nt.id}}" data-tippy-placement="top" data-tippy-theme="light">Delete</button>
										</div>
									</li>
									{% endif %}
									{% if nt.not_type == 2 %}
										<li id="{{nt.id}}">
											<a href="#">
												<span class="notification-icon"><i class="icon-line-awesome-info"></i></span>
												<span class="notification-text">
													<strong>Please confirm your email!</strong>
												</span>
											</a>
											<div class="buttons-to-right">
												<button class="button red deleteNotif" data="{{nt.id}}" data-tippy-placement="top" data-tippy-theme="light">Delete</button>
											</div>
										</li>
									{% endif %}
									{% if nt.not_type == 3 %}
										<li id="{{nt.id}}">
											<span class="notification-icon" style="background: green; color: white;"><i class="icon-material-outline-check-circle"></i></span>
											<span class="notification-text">
												<strong>Congratulations </strong> you won <a href="#">{{ nt.notedTask }}</a>
											</span>
											<div class="buttons-to-right">
												<button class="button red deleteNotif" data="{{nt.id}}" data-tippy-placement="top" data-tippy-theme="light">Delete</button>
											</div>
										</li>
									{% endif %}
									{% if nt.not_type == 4 %}
										<li id="{{nt.id}}">
											<span class="notification-icon"><i class="icon-material-outline-local-offer"></i></span>
											<span class="notification-text">
												<strong>{{ nt.notification_from }} </strong> has offered you.
											</span>
											<div class="buttons-to-right">
												<button class="button red deleteNotif" data="{{nt.id}}" data-tippy-placement="top" data-tippy-theme="light">Delete</button>
											</div>
										</li>
									{% endif %}
									{% if nt.not_type == 5 %}
										<li id="{{nt.id}}">
											<span class="notification-icon"><i class="icon-material-outline-rate-review"></i></span>
											<span class="notification-text">
												<strong>{{ nt.notification_from }} </strong> has reviewed you for <a href="#">{{ nt.notedTask }}.</a>
											</span>
											<div class="buttons-to-right">
												<button class="button red deleteNotif" data="{{nt.id}}" data-tippy-placement="top" data-tippy-theme="light">Delete</button>
											</div>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2021 <strong>Jobby</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script src="{{ url_for('static', filename='js/chart.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dash.js')}}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

</body>
</html>
