<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Database Crud
      </div>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='users') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='projects') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Projects</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='bids') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Bids</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='offers') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Offers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='messages')}}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Messages</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.create', table='skills') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Skills</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.create', table='countries') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Locations</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.create', table='categories') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='reviews') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Reviews</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Examples
      </div>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dbop', table='site-settings') }}">
          <i class="fas fa-fw fa-palette"></i>
          <span>Site Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseViews" aria-expanded="true" aria-controls="collapsePage">
          <i class="fas fa-fw fa-columns"></i>
          <span>Views</span>
        </a>
        <div id="collapseViews" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Views</h6>
            <a class="collapse-item" href="{{ url_for('admin.views', view_type='projects') }}">Project Views</a>
            <a class="collapse-item" href="{{ url_for('admin.views', view_type='users') }}">User Views</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
    </ul>
