
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>RuangAdmin - DataTables</title>
  <link href="{{ url_for('static', filename='css/admin/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/ruang-admin.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'admin/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'admin/_navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">

          <div class="row">
            <div class="col-lg-12">
              {% for message in get_flashed_messages() %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  {{ message }}
                </div>
  			      {% endfor %}
              <div class="card mb-4">
                <div class="card-header border-bottom">
                  <h5 style="margin-top: 10px;">Basic Information</h5>
                </div>
                <div class="card-body py-2 my-25">
                  <!-- form -->
                  <form method="post" action="{{ url_for('admin.createUser') }}" class="validate-form mt-2 pt-50">
                    <input type='hidden' id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="media mb-2">
                      <div class="avatar-wrapper">
                        <img class="profile-pic" src="{{ url_for('static', filename='images/guest.jfif') }}" />
                        <div class="upload-button"></div>
                        <input class="file-upload" type="file" id="file" name="file" accept="image/*"/>
                      </div>
                      <div class="media-body mt-50">
                          <h4 class="media-heading">Profile Picture</h4>
                          <p class="text-muted mt-50"><small>Allowed JPG, JPEG or PNG. Max size of 2Mb</small></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountUsername">Username*</label>
                        <input type="text" class="form-control" id="accountUsername" name="username" placeholder="Username">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountEmail">Email*</label>
                        <input type="email" class="form-control" id="accountEmail" name="email" placeholder="Email">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountFirstName">First Name</label>
                        <input type="text" class="form-control" id="accountFirstName" name="name" placeholder="First Name">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountLastName">Last Name</label>
                        <input type="text" class="form-control" id="accountLastName" name="surname" placeholder="Last Name">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountPassword">Password*</label>
                        <input type="text" class="form-control" id="accountPassword" name="password" placeholder="Password">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="accountPhoneNumber" name="phone" placeholder="Phone Number">
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                        <button type="submit" data="personal" class="btn btn-primary mt-1 mr-2">Save changes</button>
                        <button type="reset" class="btn btn-outline-warning mt-1">Reset</button>
                      </div>
                    </div>
                  </form>
                  <!--/ form -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='js/admin/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/ruang-admin.min.js') }}"></script>
  <!-- Page level plugins -->

  <!-- Page level custom scripts -->
  <script>

    var readURL = function(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('.profile-pic').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
      }
    }

    $(".file-upload").on('change', function(){
        readURL(this);
    });

    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
  </script>

</body>

</html>
