
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>RuangAdmin - DataTables</title>
  <link href="{{ url_for('static', filename='css/admin/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/ruang-admin.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/admin/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'admin/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'admin/_navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">DataTables</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item">Tables</li>
              <li class="breadcrumb-item active" aria-current="page">DataTables</li>
            </ol>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header border-bottom">
                  <h4 class="card-title">Profile Details</h4>
                </div>
                <div class="card-body py-2 my-25">
                  <!-- form -->
                  <form class="validate-form mt-2 pt-50" novalidate="novalidate">
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountFirstName">First Name</label>
                        <input type="text" class="form-control" id="accountFirstName" name="firstName" placeholder="Mail Server" value="">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountLastName">Last Name</label>
                        <input type="text" class="form-control" id="accountLastName" name="lastName" placeholder="Mail Port" value="">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountEmail">Email</label>
                        <input type="email" class="form-control" id="accountEmail" name="email" placeholder="Use TLS" value="">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountOrganization">Organization</label>
                        <input type="text" class="form-control" id="accountOrganization" name="organization" placeholder="Use SSL" value="PIXINVENT">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control account-number-mask" id="accountPhoneNumber" name="phoneNumber" placeholder="Phone Number" value="457 657 1237">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountAddress">Address</label>
                        <input type="text" class="form-control" id="accountAddress" name="address" placeholder="Your Address">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountState">State</label>
                        <input type="text" class="form-control" id="accountState" name="state" placeholder="State">
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <label class="form-label" for="accountZipCode">Zip Code</label>
                        <input type="text" class="form-control account-zip-code" id="accountZipCode" name="zipCode" placeholder="Code" maxlength="6">
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-1 me-1 waves-effect waves-float waves-light">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Discard</button>
                      </div>
                    </div>
                  </form>
                  <!--/ form -->
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='js/admin/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/ruang-admin.min.js') }}"></script>
  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='js/admin/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>

</body>

</html>
