
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jobby Admin - Dashboard</title>
  <link href="{{ url_for('static', filename='css/admin/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/jobby-admin.min.css') }}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'admin/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        {% include 'admin/_navbar.html' %}
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <div class="row mb-3">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Users</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ all_users|length }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        {% if rate_month >= 0 %}
                          <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{rate_month}}%</span>
                        {% else %}
                          <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{rate_month}}%</span>
                        {% endif %}
                        <span>Since last month</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ week_new_users|length }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        {% if rate_week >= 0 %}
                          <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{rate_week}}%</span>
                        {% else %}
                          <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{rate_week}}%</span>
                        {% endif %}
                        <span>Since last week</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">All Projects</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_pro|length }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        {% if rate_month_pro >= 0 %}
                          <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{rate_month_pro}}%</span>
                        {% else %}
                          <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{rate_month_pro}}%</span>
                        {% endif %}
                        <span>Since last months</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-tasks fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">New Projects</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ week_new_pro|length }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        {% if rate_week_pro >= 0 %}
                          <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{rate_week_pro}}%</span>
                        {% else %}
                          <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{rate_week_pro}}%</span>
                        {% endif %}
                        <span>Since last week</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-tasks fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12 col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Users</h6>
                  <a class="m-0 float-right btn btn-primary btn-sm" href="{{ url_for('admin.dbop', table='users')}}">View All <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in week_new_users %}
                        <tr>
                          <td>{{ user }}</td>
                          <td>{{ user.email }}</td>
                          {% if user.status == 'freelancer' %}
                            <td><span class="badge badge-success">Freelancer</span></td>
                          {% else %}
                            <td><span class="badge badge-info">Employer</span></td>
                          {% endif %}
                          <td><a href="{{ url_for('admin.editUser', user_id=user.id, from='table') }}" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Projects</h6>
                  <a class="m-0 float-right btn btn-primary btn-sm" href="{{ url_for('admin.dbop', table='projects')}}">View All <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Project Title</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for pro in week_new_pro %}
                        <tr>
                          <td>{{ pro.project_name }}</td>
                          <td>{{ pro.category }}</td>
                          <td>{{ pro.location }}</td>
                          <td><a href="{{ url_for('admin.editProject', pro_id=pro.id) }}" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->
        </div>
        <!---Container Fluid-->
      </div>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='js/admin/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jobby-admin.min.js') }}"></script>
</body>

</html>
