
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jobby Admin - Reviews</title>
  <link href="{{ url_for('static', filename='css/admin/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/jobby-admin.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'admin/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'admin/_navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <!-- Row -->
            <div class="row">
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reviews</h6>
                    <a class="m-0 float-right btn btn-primary btn-sm" href="{{ url_for('admin.create', table='reviews') }}">Create Review <i class="fas fa-chevron-right"></i></a>
                  </div>
                {% if rws %}
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                      <thead class="thead-light">
                        <tr>
                          <th>Reviewer</th>
                          <th>Reviewed</th>
                          <th>Reviewed Project</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for r in rws %}
                          <tr id="rv_{{r.id}}">
                            <td>{{ r.reviewed_emp }}</td>
                            <td>{{ r.reviewed_pro }}</td>
                            <td>{{ r.reviewed }}</td>
                            <td>
                              <a href="{{ url_for('admin.editReview', rv_id=r.id) }}"><i class="fas fa-edit"></i></a>
                              <a class="deleteItem" data="rv_{{r.id}}" style="cursor: pointer; color: blue;"><i class="fas fa-trash"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
                </div>
              </div>
            </div>
          <!--Row-->
        </div>
        <!---Container Fluid-->
      </div>

    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='js/admin/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jobby-admin.min.js') }}"></script>
  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='js/admin/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/tableOp.js') }}"></script>

  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>

</body>

</html>
