
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jobby Admin - Site Settings</title>
  <link href="{{ url_for('static', filename='css/admin/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/jobby-admin.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/admin/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'admin/_sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'admin/_navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">

          <div class="row">
            <div class="col-lg-12">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    {% if category == 'error' %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                      </div>
                    {% else %}
                      <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" id="email-settings-tab" data-toggle="tab" href="#email-settings" aria-controls="email-settings" role="tab" aria-selected="true">
                                <i class="fas fa-envelope-open-text mr-25"></i><span class="d-none d-sm-block">Email Settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="CreateAdmin-tab" data-toggle="tab" href="#CreateAdmin" aria-controls="CreateAdmin" role="tab" aria-selected="false">
                                <i class="fas fa-user-shield mr-25"></i><span class="d-none d-sm-block">Create Admin</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="SiteSocial-tab" data-toggle="tab" href="#SiteSocial" aria-controls="SiteSocial" role="tab" aria-selected="false">
                                <i class="fas fa-hashtag mr-25"></i><span class="d-none d-sm-block">Site Social</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="email-settings" aria-labelledby="email-settings-tab" role="tabpanel">
                          <!-- users edit account form start -->
                          <form method="post" action="{{ url_for('admin.create', table='emailSettings') }}" class="validate-form mt-2 pt-50">
                            <input type='hidden' id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="ServisProvider">Select Driver</label>
                                <select class="form-control" id="ServisProvider" name="ServisProvider" title="Select Driver" required>
                                  <option {% if ss.provider=="Zoho" %} selected="selected"{% endif %}>Zoho</option>
                                  <option {% if ss.provider=="SendGrid" %} selected="selected"{% endif %}>SendGrid</option>
                                  <option {% if ss.provider=="MailTrap" %} selected="selected"{% endif %}>MailTrap</option>
                                  <option {% if ss.provider=="Gmail" %} selected="selected"{% endif %}>Gmail</option>
                                </select>
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="MailServer">Mail Server</label>
                                <input type="text" class="form-control" id="MailServer" name="MailServer" placeholder="Mail Server" required value="{{mail_config.mail_server}}">
                              </div>
                              <div class="col-12 col-sm-4 mb-1">
                                <label class="form-label" for="Port">Port</label>
                                <input type="number" class="form-control" id="port" name="port" placeholder="Port" required value="{{mail_config.port}}">
                              </div>
                              <div class="col-12 col-sm-4 mb-1">
                                <label class="form-label" for="UseTLS">Use TLS</label>
                                <select class="form-control" id="UseTLS" name="UseTLS" required>
                                  <option {% if mail_config.use_TLS %} selected="selected"{% endif %}>Yes</option>
                                  <option {% if not mail_config.use_TLS %} selected="selected"{% endif %}>No</option>
                                </select>
                              </div>
                              <div class="col-12 col-sm-4 mb-1">
                                <label class="form-label" for="UseSSL">Use SSL</label>
                                <select class="form-control" id="UseSSL" name="UseSSL" required>
                                  <option {% if mail_config.use_SSL %} selected="selected"{% endif %}>Yes</option>
                                  <option {% if not mail_config.use_SSL %} selected="selected"{% endif %}>No</option>
                                </select>
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required value="{{mail_config.username}}">
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="password">Password</label>
                                <input type="text" class="form-control" id="password" name="password" placeholder="Password" required>
                              </div>
                              <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                  <button type="submit" class="btn btn-primary mr-sm-1 mr-2">Save Changes</button>
                                  <button type="reset" class="btn btn-outline-warning">Reset</button>
                              </div>
                            </div>
                          </form>
                          <!-- users edit account form ends -->
                        </div>
                        <div class="tab-pane" id="CreateAdmin" aria-labelledby="CreateAdmin-tab" role="tabpanel">
                          <div class="card mb-75">
                            <div class="table-responsive">
                              {% if admins %}
                                <table class="table datatable-project" id="admin_table">
                                  <thead>
                                    <tr>
                                      <th>Username</th>
                                      <th class="text-nowrap">Full Name</th>
                                      <th>Email</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody id="tbody_admin">
                                    {% for admin in admins %}
                                      <tr role="row" class="odd" id="ad_{{admin.id}}">
                                        <td class="sorting_1">{{ admin }}</td>
                                        <td>{{ admin.full_name }}</td>
                                        <td>{{ admin.email }}</td>
                                        <td>
                                          <a class="deleteItem" data="ad_{{admin.id}}" style="cursor: pointer; color: blue;"><i class="fas fa-trash deleteItem" data="ad_{{admin.id}}"></i></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              {% else %}
                                <table class="table datatable-project" id="admin_table" style="display: none;">
                                  <thead>
                                    <tr>
                                      <th>Username</th>
                                      <th class="text-nowrap">Full Name</th>
                                      <th>Email</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody id="tbody_admin">

                                  </tbody>
                                </table>
                              {% endif %}
                            </div>
                          </div>
                          <hr></hr>
                          <!-- form -->
                          <form class="validate-form mt-2 pt-50" id="form_admin">
                            <input type='hidden' id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="media mb-2">
                              <div class="avatar-wrapper">
                                <img class="profile-pic" src="{{ url_for('static', filename='images/guest.jfif') }}" />
                                <div class="upload-button"></div>
                                <input class="file-upload" type="file" id="file" name="file" accept="image/*"/>
                              </div>
                              <div class="media-body mt-50">
                                  <h4 class="media-heading">Profile Picture</h4>
                                  <p class="text-muted mt-50"><small>Allowed JPG, JPEG or PNG. Max size of 2Mb</small></p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="accountUsername">Username*</label>
                                <input type="text" class="form-control" id="accountUsername" name="username" placeholder="Username">
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="accountEmail">Email*</label>
                                <input type="email" class="form-control" id="accountEmail" name="email" placeholder="Email">
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="accountFirstName">Full Name</label>
                                <input type="text" class="form-control" id="accountFullName" name="name" placeholder="Full Name">
                              </div>
                              <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="accountPassword">Password*</label>
                                <input type="text" class="form-control" id="accountPassword" name="password" placeholder="Password">
                              </div>
                              <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                  <button type="submit" class="btn btn-primary saveAdmin mr-2">Save Changes</button>
                                  <button type="reset" class="btn btn-outline-warning">Reset</button>
                              </div>
                            </div>
                          </form>
                          <!--/ form -->
                          <a class="btn btn-google btn-block" id="addAnotherAdmin" style="display: none; cursor: pointer;"><i class="fas fa-plus"></i> Add Another</a>                  <!--/ form -->
                        </div>
                        <div class="tab-pane" id="SiteSocial" aria-labelledby="SiteSocial-tab" role="tabpanel">
                          <!-- users edit socail form start -->
                          <form>
                            <div class="row">
                              <div class="col-12 col-sm-6">
                                <fieldset>
                                    <label>Twitter</label>
                                    <div class="input-group mb-75 input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fab fa-twitter" id="basic-addon3"></span>
                                        </div>
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" style="color: #6e707e;">twitter.com/</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{ ss.twitter }}" id="twitter" maxlength="50">
                                    </div>

                                    <label>Facebook</label>
                                    <div class="input-group mb-75 input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fab fa-facebook" id="basic-addon4"></span>
                                        </div>
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" style="color: #6e707e;">facebook.com/</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{ ss.facebook }}" id="facebook" maxlength="50">
                                    </div>
                                    <label>Instagram</label>
                                    <div class="input-group mb-75 input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fab fa-instagram" id="basic-addon5"></span>
                                        </div>
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" style="color: #6e707e;">www.instagram.com/</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{ ss.instagram }}" id="instagram" maxlength="50">
                                    </div>
                                </fieldset>
                              </div>
                              <div class="col-12 col-sm-6">
                                  <label>Github</label>
                                  <div class="input-group mb-75 input-group-merge">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text fab fa-github" id="basic-addon9"></span>
                                      </div>
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" style="color: #6e707e;">github.com/</span>
                                      </div>
                                      <input type="text" class="form-control" value="{{ ss.github }}" id="github" maxlength="50">
                                  </div>
                                  <label>Youtube</label>
                                  <div class="input-group mb-75 input-group-merge">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text fab fa-youtube" id="basic-addon12"></span>
                                      </div>
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" style="color: #6e707e;">youtube.com/</span>
                                      </div>
                                      <input type="text" class="form-control" value="{{ ss.youtube }}" id="youtube" maxlength="50">
                                  </div>
                                  <label>Linkedin</label>
                                  <div class="input-group mb-75 input-group-merge">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text fab fa-linkedin" id="basic-addon11"></span>
                                      </div>
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" style="color: #6e707e;">linkedin.com/</span>
                                      </div>
                                      <input type="text" class="form-control" value="{{ ss.linkedin }}" id="linkedin" maxlength="50">
                                  </div>
                              </div>
                              <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                  <button class="btn btn-primary saveSocial mr-2">Save Changes</button>
                                  <button type="reset" class="btn btn-outline-warning">Reset</button>
                              </div>
                            </div>
                          </form>
                          <!-- users edit socail form ends -->
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Container Fluid-->
      </div>

    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='js/admin/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/jobby-admin.min.js') }}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script src="{{ url_for('static', filename='js/admin/CreateAdmin.js') }}"></script>

  <!-- Page level plugins -->


</body>

</html>
