<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Jobby</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- CSS
================================================== -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
{% include 'sidebar.html' %}
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Ayarlar</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Anasayfa</a></li>
						<li><a href="#">Hesabım</a></li>
						<li>Ayarlar</li>
					</ul>
				</nav>
			</div>
			{% if current_user.status == 'employer' %}
				<div class="notification notice closeable">
					<h3>Hoşgeldiniz!</h3>
					<p>Sizi yakından tanıyalım</p>
					<a class="close" href="#"></a>
				</div>
			{% endif %}

			{% for message in get_flashed_messages() %}
				<div class="notification error closeable">
					<p>{{ message }}</p>
					<a class="close" href="#"></a>
				</div>
			{% endfor %}
			<!-- Row -->
			<div class="row">

				<form id="settings" method="POST" name="personel" action="{{ url_for('setting.setting_personel') }}" enctype="multipart/form-data">
					<input type='hidden' id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>

					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">
								<div class="headline">
									<h3><i class="icon-material-outline-account-circle"></i> Kişisel Ayarlarım</h3>
								</div>
							<div class="content with-padding padding-bottom-0">

								<div class="row">

									<div class="col-auto">
										<div class="avatar-wrapper" data-tippy-placement="bottom" title="Resminizi değiştirin">
											<img class="profile-pic" src="{{ url_for('static', filename="images/"+current_user.profile_picture) }}" alt="" />
											<div class="upload-button"></div>
											<input class="file-upload" type="file" name="file"/>
										</div>
									</div>

									<div class="col">
										<div class="row">

											<div class="col-xl-6">
												<div class="submit-field">
													<h5>İsim</h5>
													<input type="text" name="name" class="with-border" value="{{ current_user.name }}">
												</div>
											</div>

											<div class="col-xl-6">
												<div class="submit-field">
													<h5>Soyisim</h5>
													<input type="text" name="surname"class="with-border" value="{{ current_user.surname }}">
												</div>
											</div>

											<div class="col-xl-6">
												<div class="submit-field">
													<h5>Cep Telefonu</h5>
													<input type="tel" name="phone_number" class="with-border" value="{{ current_user.phone_number }}">
												</div>
											</div>

											<div class="col-xl-6">
												<div class="submit-field">
													<h5>Email</h5>
													<input type="text" name="email" class="with-border" value="{{ current_user.email }}">
												</div>
												<button class="button personel" type="submit"><i class="icon-feather-save"></i> Kaydet</button>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</form>

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box">

							<div class="headline" name="collapse" style="cursor: pointer;">
								<h3><i class="icon-material-outline-face"></i> Profil Ayarlarım</h3>
							</div>

							<div class="content" style="display: none;">
								<ul class="fields-ul">
									<li>
										<div class="row">
											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Alanınız</h5>
													<select id="field_of_work" class="selectpicker with-border" data-size="7" title="Çalışma alanınız" data-live-search="true" value="">
														{% for key, value in categories.items() %}
															{% if current_user.field_of_work == key %}
																<option value="{{ key }}" selected>{{ value }}</option>
															{% else %}
																<option value="{{ key }}">{{ value }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Kısaca Kendiniz</h5>
													<input type="text" id="tagline" class="with-border" value="{{ current_user.tagline }}" placeholder="ör. web tasarımcı + seo uzmanı">
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Şehir</h5>
													<select id="province" class="selectpicker with-border" data-size="7" title="Şehir seçiniz" data-live-search="true" value="{{ current_user.province }}">
														{% for key, value in cities.items() %}
															{% if current_user.province == key %}
																<option value="{{ key }}" selected>{{ value }}</option>
															{% else %}
																<option value="{{ key }}">{{ value }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>

											<div class="col-xl-12">
												<div class="submit-field">
													<h5>Kendinizi Anlatın</h5>
												</div>
												<div class="submit-field" id="editor3">
													{{ current_user.introduction|safe }}
												</div>
												<input type='hidden' name="description" id="profileQuill" value=""/>
												<a class="button saveSetting" data="profile"><i class="icon-feather-save"></i> Kaydet</a>
											</div>

										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="dashboard-box">

							<div class="headline" name="collapse" style="cursor: pointer;">
								<h3><i class="icon-material-outline-mouse"></i> Yetenekler</h3>
							</div>
							<div class="content with-padding" style="display: none;">
							<div>
							    <ul class="list-group" id="skill_ul">
										{% if skills %}
											{% for skill in skills %}
								        <li class="list-group-item clearfix" id="s_{{skill.id}}">
								            <div class="pull-left">{{ skill }}</div>
														<span class="pull-right button-group">
																<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
																<button type="button" data="s_{{ skill.id }}" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
														</span>
								        </li>
											{% endfor %}
										{% else %}
										<li class="list-group-item clearfix" style="display: none;">
												<div class="pull-left"></div>
												<span class="pull-right button-group">
														<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
														<button type="button" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
												</span>
										</li>
										{% endif %}
							    </ul>
							</div>
								<div class="row" id="skillForm">
									<div class="col">
										<div class="submit-field">
											<h5>Yetenek</h5>
											<input id="skill" type="text" class="with-border">
										</div>
									</div>

									<div class="col">
										<div class="submit-field">
											<h5>Seviye</h5>
											<select id="level" class="with-border" type="text">
												<option>Başlangıç</option>
												<option>Orta</option>
												<option>Profesyonel</option>
											</select>
										</div>
										<a class="button saveSetting" data="skill"><i class="icon-feather-save"></i> Kaydet</a>
									</div>
								</div>
								<div class="col-xl-12 addField" name="addButton">
									<p class="button-skill"><i class="icon-material-outline-add-circle-outline"></i> Başka yetenek ekle</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="dashboard-box">

							<div class="headline" name="collapse" style="cursor: pointer;">
								<h3><i class="icon-material-outline-business"></i> İş Deneyimi</h3>
							</div>

							<div class="content with-padding" style="display: none;">
								<div>
								    <ul class="list-group" id="workExp_ul">
											{% if workExps %}
												{% for workExp in workExps %}
									        <li class="list-group-item clearfix" id="w_{{workExp.id}}">
									            <div class="pull-left">{{ workExp }}</div>
															<span class="pull-right button-group">
																	<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
																	<button type="button" data="w_{{ workExp.id }}" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
															</span>
									        </li>
												{% endfor %}
											{% else %}
											<li class="list-group-item clearfix" style="display: none;">
													<div class="pull-left"></div>
													<span class="pull-right button-group">
															<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
															<button type="button" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
													</span>
											</li>
											{% endif %}
								    </ul>
								</div>
								<div class="row" id="workExpForm">
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Pozisyon</h5>
											<input type="text" id="position" class="with-border" placeholder="ör. Yazılım Muhendisi">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Şirket</h5>
											<input type="text" id="company" class="with-border" placeholder="ör. Google">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="row">
											<div class="col">
												<div class="submit-field">
													<label class=""><strong>Başlangıç</strong></label>

													<select class="with-border" id="start_month_job" type="text">
														<option selected>Ocak</option>
														<option>Şubat</option>
														<option>Mart</option>
														<option>Nisan</option>
														<option>Mayıs</option>
														<option>Haziran</option>
														<option>Temmuz</option>
														<option>Ağustos</option>
														<option>Eylül</option>
														<option>Ekim</option>
														<option>Kasım</option>
														<option>Aralık</option>
													</select>

												</div>
											</div>
											<div class="col">
												<div class="submit-field">
													<label class="">&nbsp;</label>

													<select class="with-border" id="start_year_job">
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2017">2017</option>
														<option value="2016">2016</option>
														<option value="2015">2015</option>
														<option value="2014">2014</option>
														<option value="2013">2013</option>
														<option value="2012">2012</option>
														<option value="2011">2011</option>
														<option value="2010">2010</option>
														<option value="2009">2009</option>
														<option value="2008">2008</option>
														<option value="2007">2007</option>
														<option value="2006">2006</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
														<option value="1999">1999</option>
														<option value="1998">1998</option>
														<option value="1997">1997</option>
														<option value="1996">1996</option>
														<option value="1995">1995</option>
														<option value="1994">1994</option>
														<option value="1993">1993</option>
														<option value="1992">1992</option>
														<option value="1991">1991</option>
														<option value="1990">1990</option>
														<option value="1989">1989</option>
														<option value="1988">1988</option>
														<option value="1987">1987</option>
														<option value="1986">1986</option>
														<option value="1985">1985</option>
														<option value="1984">1984</option>
														<option value="1983">1983</option>
														<option value="1982">1982</option>
														<option value="1981">1981</option>
														<option value="1980">1980</option>
													</select>

												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="row">
											<div class="col">
												<div class="submit-field">
													<label class=""><strong>Bitiş</strong></label>

													<select class="with-border" id="end_month_job" type="text">
														<option selected>Ocak</option>
														<option>Şubat</option>
														<option>Mart</option>
														<option>Nisan</option>
														<option>Mayıs</option>
														<option>Haziran</option>
														<option>Temmuz</option>
														<option>Ağustos</option>
														<option>Eylül</option>
														<option>Ekim</option>
														<option>Kasım</option>
														<option>Aralık</option>
													</select>

												</div>
											</div>
											<div class="col">
												<div class="submit-field">
													<label class="">&nbsp;</label>

													<select class="with-border" id="end_year_job">
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2017">2017</option>
														<option value="2016">2016</option>
														<option value="2015">2015</option>
														<option value="2014">2014</option>
														<option value="2013">2013</option>
														<option value="2012">2012</option>
														<option value="2011">2011</option>
														<option value="2010">2010</option>
														<option value="2009">2009</option>
														<option value="2008">2008</option>
														<option value="2007">2007</option>
														<option value="2006">2006</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
														<option value="1999">1999</option>
														<option value="1998">1998</option>
														<option value="1997">1997</option>
														<option value="1996">1996</option>
														<option value="1995">1995</option>
														<option value="1994">1994</option>
														<option value="1993">1993</option>
														<option value="1992">1992</option>
														<option value="1991">1991</option>
														<option value="1990">1990</option>
														<option value="1989">1989</option>
														<option value="1988">1988</option>
														<option value="1987">1987</option>
														<option value="1986">1986</option>
														<option value="1985">1985</option>
														<option value="1984">1984</option>
														<option value="1983">1983</option>
														<option value="1982">1982</option>
														<option value="1981">1981</option>
														<option value="1980">1980</option>
													</select>

												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Açıklama</h5>
										</div>

										<div class="submit-field" id="editor2"></div>
										<input type='hidden' name="description" id="desc_work" value=""/>
										<a class="button saveSetting" data="workExp"><i class="icon-feather-save"></i> Kaydet</a>
									</div>
								</div>
								<div class="col-xl-12 addField" name="addButton">
									<p class="button-skill"><i class="icon-material-outline-add-circle-outline"></i> Başka deneyim ekle</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="dashboard-box">

							<div class="headline" name="collapse" style="cursor: pointer;">
								<h3><i class="icon-line-awesome-mortar-board"></i> Eğitim Durumu</h3>
							</div>

							<div class="content with-padding" style="display: none;">
								<div>
								    <ul class="list-group" id="edu_ul">
											{% if edus %}
												{% for edu in edus %}
									        <li class="list-group-item clearfix" id="w_{{ edu.id }}">
									            <div class="pull-left">{{ edu }}</div>
															<span class="pull-right button-group">
																	<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
																	<button type="button" data="w_{{ edu.id }}" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
															</span>
									        </li>
												{% endfor %}
											{% else %}
											<li class="list-group-item clearfix" style="display: none;">
													<div class="pull-left"></div>
													<span class="pull-right button-group">
															<button type="button" class="btn btn-primary"><i class="icon-feather-edit"></i></button>
															<button type="button" class="btn btn-danger deleteItem"><i class="icon-feather-trash-2"></i></button>
													</span>
											</li>
											{% endif %}
								    </ul>
								</div>
								<div class="row" id="eduForm">
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Bölum</h5>
											<input type="text" id="field" class="with-border" placeholder="ör. Bilgisayar Muhendisliği">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Okul</h5>
											<input type="text" id="school" class="with-border" placeholder="ör. İstanbul Teknik Universitesi">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="row">
											<div class="col">
												<div class="submit-field">
													<label class=""><strong>Başlangıç</strong></label>
													<select class="with-border" id="start_month_edu" type="text">
														<option selected>Ocak</option>
														<option>Şubat</option>
														<option>Mart</option>
														<option>Nisan</option>
														<option>Mayıs</option>
														<option>Haziran</option>
														<option>Temmuz</option>
														<option>Ağustos</option>
														<option>Eylül</option>
														<option>Ekim</option>
														<option>Kasım</option>
														<option>Aralık</option>
													</select>
												</div>
											</div>
											<div class="col">
												<div class="submit-field">
													<label class="">&nbsp;</label>
													<select class="with-border" id="start_year_edu">
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2017">2017</option>
														<option value="2016">2016</option>
														<option value="2015">2015</option>
														<option value="2014">2014</option>
														<option value="2013">2013</option>
														<option value="2012">2012</option>
														<option value="2011">2011</option>
														<option value="2010">2010</option>
														<option value="2009">2009</option>
														<option value="2008">2008</option>
														<option value="2007">2007</option>
														<option value="2006">2006</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
														<option value="1999">1999</option>
														<option value="1998">1998</option>
														<option value="1997">1997</option>
														<option value="1996">1996</option>
														<option value="1995">1995</option>
														<option value="1994">1994</option>
														<option value="1993">1993</option>
														<option value="1992">1992</option>
														<option value="1991">1991</option>
														<option value="1990">1990</option>
														<option value="1989">1989</option>
														<option value="1988">1988</option>
														<option value="1987">1987</option>
														<option value="1986">1986</option>
														<option value="1985">1985</option>
														<option value="1984">1984</option>
														<option value="1983">1983</option>
														<option value="1982">1982</option>
														<option value="1981">1981</option>
														<option value="1980">1980</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="row">
											<div class="col">
												<div class="submit-field">
													<label class=""><strong>Bitiş</strong></label>
													<select class="with-border" id="end_month_edu" type="text">
														<option selected>Ocak</option>
														<option>Şubat</option>
														<option>Mart</option>
														<option>Nisan</option>
														<option>Mayıs</option>
														<option>Haziran</option>
														<option>Temmuz</option>
														<option>Ağustos</option>
														<option>Eylül</option>
														<option>Ekim</option>
														<option>Kasım</option>
														<option>Aralık</option>
													</select>
												</div>
											</div>
											<div class="col">
												<div class="submit-field">
													<label class="">&nbsp;</label>
													<select class="with-border" id="end_year_edu">
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2017">2017</option>
														<option value="2016">2016</option>
														<option value="2015">2015</option>
														<option value="2014">2014</option>
														<option value="2013">2013</option>
														<option value="2012">2012</option>
														<option value="2011">2011</option>
														<option value="2010">2010</option>
														<option value="2009">2009</option>
														<option value="2008">2008</option>
														<option value="2007">2007</option>
														<option value="2006">2006</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
														<option value="1999">1999</option>
														<option value="1998">1998</option>
														<option value="1997">1997</option>
														<option value="1996">1996</option>
														<option value="1995">1995</option>
														<option value="1994">1994</option>
														<option value="1993">1993</option>
														<option value="1992">1992</option>
														<option value="1991">1991</option>
														<option value="1990">1990</option>
														<option value="1989">1989</option>
														<option value="1988">1988</option>
														<option value="1987">1987</option>
														<option value="1986">1986</option>
														<option value="1985">1985</option>
														<option value="1984">1984</option>
														<option value="1983">1983</option>
														<option value="1982">1982</option>
														<option value="1981">1981</option>
														<option value="1980">1980</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Açıklama</h5>
										</div>
										<div class="submit-field" id="editor"></div>
										<input type='hidden' name="description" id="desc_edu" value=""/>
										<a class="button saveSetting" data="education"><i class="icon-feather-save"></i> Kaydet</a>
									</div>
								</div>
								<div class="col-xl-12 addField" name="addButton">
									<p class="button-skill"><i class="icon-material-outline-add-circle-outline"></i> Başka eğitim ekle</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box">

								<div class="headline" name="collapse" style="cursor: pointer;">
									<h3><i class="icon-material-outline-lock"></i> Şifre & Guvenlik</h3>
								</div>
							<div class="content with-padding" style="display: none;">
								<div class="row">
									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Şuanki şifreniz</h5>
											<input id="password" type="password" class="with-border">
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Yeni şifreniz</h5>
											<input id="new_password" type="password" class="with-border">
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Yeni şifre tekrar</h5>
											<input id="confirm_password" type="password" class="with-border">
										</div>
										<a class="button saveSetting" data="security"><i class="icon-feather-save"></i> Kaydet</a>
									</div>
								</div>
							</div>
						</div>
					</div>

			</div>

			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2020 <strong>Jobby</strong>. Butun Hakları Saklıdır.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script type="text/javascript" src="/static/js/custom.js?u={{ last_updated }}"></script>
<script type="text/javascript" src="/static/js/collapse.js?u={{ last_updated }}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Statunuz değiştirildi!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

<script>

	var toolbarOptions = [
		['bold', 'italic', 'underline', 'link'],
		[{'list': 'ordered'}, {'list': 'bullet'}]
	];

  var quill = new Quill('#editor', {
    theme: 'snow',
		modules: {
			toolbar: toolbarOptions
		}
  });

	var quill2 = new Quill('#editor2', {
    theme: 'snow',
		modules: {
			toolbar: toolbarOptions
		}
  });

	var quill3 = new Quill('#editor3', {
    theme: 'snow',
		modules: {
			toolbar: toolbarOptions
		}
  });
</script>

</body>
</html>
