<!doctype html>
<html lang="en">
<head>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165052270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165052270-1');
</script>
<script data-ad-client="ca-pub-6285960755576892" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Basic Page Needs
================================================== -->
<title>Jobby</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Spacer -->
<div class="margin-top-50"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4" id="filterForm">
			<div class="sidebar-container">

				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Yer</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							{% if location %}
								<input id="autocomplete-input" type="text" value="{{ location }}">
							{% else %}
								<input id="autocomplete-input" type="text" placeholder="Yer">
							{% endif %}
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

				<!-- Category -->
				<div class="sidebar-widget">
					<h3>Kategori</h3>
					<select class="selectpicker with-border" data-size="7" title="Kategori" data-live-search="true" value="">
						{% for key, value in categories.items() %}
							<option value="{{ key }}">{{ value }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Keywords -->
				<div class="sidebar-widget">
					<h3>Anahtar Kelime</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="ör. Web tasarım"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list"><!-- keywords go here --></div>
						<div class="clearfix"></div>
					</div>
				</div>

				<button class="button ripple-effect" style="width: 100%;">Ara</button>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Arama Sonuçları</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container" id="filter">
					<i class="icon-feather-filter"></i> filtrele
				</div>
				<div class="sort-by">
					<span>Sırala:</span>
					<select class="selectpicker hide-tick">
						<option>İlgili</option>
						<option>En yeni</option>
						<option>En eski</option>
						<option>Rastgele</option>
					</select>
				</div>
			</div>

			<!-- Freelancers List Container -->
			<div class="freelancers-container freelancers-list-layout margin-top-35">

				{% for user in users.items %}
				<div class="freelancer">

					<!-- Overview -->
					<div class="freelancer-overview">
						<div class="freelancer-overview-inner">

							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>

							<!-- Avatar -->
							<div class="freelancer-avatar">
								<div class="verified-badge"></div>
								<a href="{{ url_for('public.freelancer', user_id=user.id) }}"><img src="{{ url_for('static', filename='images/'+user.profile_picture)}}" alt=""></a>
							</div>

							<!-- Name -->
							<div class="freelancer-name">
								<h4><a href="{{ url_for('public.freelancer', user_id=user.id) }}">{{ user }}</a></h4>
								<span>{{ user.tagline }}</span>
								<!-- Rating -->
								<div class="freelancer-rating">
									{% if user.rating == 0 %}
										<span class="company-not-rated">Puanı yok</span>
									{% else %}
										<div class="star-rating" data-rating="{{ user.rating }}"></div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

					<!-- Details -->
					<div class="freelancer-details">
						<div class="freelancer-details-list">
							<ul>
								<li>Şehir <strong><i class="icon-material-outline-location-on"></i> {{ user.province }}</strong></li>
								<li>Başarı<strong>%{{ user.recom() }}</strong></li>
								<li>Tavsiye<strong>%{{ user.intime() }}</strong></li>
							</ul>
						</div>
						<a href="{{ url_for('public.freelancer', user_id=user.id) }}" class="button button-sliding-icon ripple-effect">Profili Gör <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				{% endfor %}

			</div>
			<!-- Tasks Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-40 margin-bottom-60">
						<nav class="pagination">
							<ul>
								{% if users.has_prev %}
									<li class="pagination-arrow"><a href="{{ url_for('public.browseFreelancers', page=users.page-1) }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								{% endif %}
								{% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
									{% if page_num %}
										{% if users.page == page_num %}
											<li><a href="{{ url_for('public.browseFreelancers', page=page_num) }}" class="current-page ripple-effect">{{ page_num }}</a></li>
										{% else %}
											<li><a href="{{ url_for('public.browseFreelancers', page=page_num) }}" class="ripple-effect">{{ page_num }}</a></li>
										{% endif %}
									{% endif %}
								{% endfor %}
								{% if users.has_next %}
								<li class="pagination-arrow"><a href="{{ url_for('public.browseFreelancers', page=users.page+1) }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>


<!-- Footer
================================================== -->
{% include 'footer.html' %}
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Statunuz değiştirildi!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

<script type="text/javascript">
	filter = document.getElementById('filter');
	filterForm = document.getElementById('filterForm');
	filter.addEventListener('click', () => {
		filterForm.style.display = "block";
	})
</script>

<!-- Google API & Maps -->
<!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>

</body>
</html>
