<html>
	<head>
		<title>My Checkout</title>
		<meta charset="utf-8" />
		<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
	</head>
    <body>
	    <div class="checkout-container"></div>
		<script type="text/javascript">
      Paddle.Environment.set('sandbox');
			Paddle.Setup({
				vendor: 2061          // Replace with your Vendor ID.
			});
			Paddle.Checkout.open({
				method: 'inline',
				email: 'mahmut_fen90@hotmail.com',
				product: 11474,       // Replace with your Product or Plan ID
				allowQuantity: false,
				disableLogout: true,
				closeCallback: "checkoutClosed",
				successCallback: "checkoutComplete",
				frameTarget: 'checkout-container', // The className of your checkout <div>
				frameInitialHeight: 416,
				frameStyle: 'width:100%; min-width:312px; background-color: transparent; border: none;'    // Please ensure the minimum width is kept at or above 286px with checkout padding disabled, or 312px with checkout padding enabled. See "General" section under "Branded Inline Checkout" below for more information on checkout padding.
			});

			function checkoutClosed(data) {
			  console.log(data);
			  alert('Your purchase has been cancelled, we hope to see you again soon!');
			}
			function checkoutComplete(data) {
			  console.log(data);
			  alert('Thanks for your purchase.');
			}

		</script>
	</body>
</html>
